* {
  box-sizing: border-box; }

body {
  background: url("../images/bg-brick.png");
  background-size: 96px 96px;
  font: 700 24px/1.5 cursive;
  margin: 0;
  padding: 0;
  text-align: center; }

h1 {
  color: #fff;
  font-size: 200%;
  margin-top: 0.5em; }

.container {
  display: inline-block;
  max-width: 600px;
  text-align: left;
  vertical-align: top;
  width: 87.5%; }

.sidebar {
  background: rgba(17, 17, 17, 0.5);
  display: inline-block;
  margin: 0 0 0 2em;
  max-width: 260px;
  padding: 1em;
  text-align: left;
  vertical-align: top;
  width: 87.5%; }

.quote {
  background: #fff;
  border: 2px solid #222;
  border-radius: 18px 28px 12px 24px;
  padding: 0.5em 1.5em;
  position: relative; }
  .quote:after {
    border: 0.125em solid #000;
    border-radius: 18px 28px 12px 24px;
    bottom: 0.25em;
    content: "";
    left: 0.25em;
    position: absolute;
    right: 0.25em;
    top: 0.25em; }

.quote:not(:last-of-type) {
  margin-bottom: 1em;
  position: relative; }

.quote-author {
  background: #fc8f00;
  border: 2px solid #222;
  color: #fff;
  left: -2.5%;
  padding: 0.25em;
  position: absolute;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  top: -2em;
  white-space: nowrap;
  z-index: 1; }

.authors-title {
  color: #fff;
  font-size: 150%;
  margin: 0;
  text-align: center; }

.author-name {
  background: #fc8f00;
  border: 2px solid #fff;
  color: #fff;
  padding: 0.25em;
  white-space: nowrap;
  z-index: 1; }
